/*.leaflet-touch .leaflet-bar a {
    line-height: 55px;
}*/

.place-search-input-container {
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 1002;
    /*background-color: white;*/
}

.map-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    background-color: white;
    padding: 3px;
    z-index: 1000;
}

.glyphicon {
    font-size: 1.5em;
}

.place-search-input-container:hover {
    opacity: 1.0;
}

/* Overriding leaflet class */
.leaflet-control-zoom {
    position: fixed !important;
    bottom: 40%;
    right: 10px;
}

@media (min-width: 768px) {
    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
        width: 55px !important;
        height: 55px !important;
        line-height: 55px !important;
    }
    .map-switch {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1024px) {
    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
        width: 120px !important;
        height: 120px !important;
        line-height: 120px !important;
        font-size: 55px !important; 
    }

    .map-switch {
        width: 200px;
        height: 200px;
    }
}

.leaflet-control-layers-toggle {
    width: 55px !important;
    height: 55px !important;
}

.back-button {
    position: absolute;
    z-index: 401;
    bottom: 20px;
    left: 10px;
}

.map-button {
    height: 4em;
    width: 4em;
    background-color: rgba(212, 212, 212, 0.71);
    border: none;
    /*background-color: #d3d3d3;*/
}

.map-button-container {
    z-index: 401;
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.location-button {
    bottom: 12%;
    right: 10px;
}

.filter-button-container {
    left: 3%;
    top: 9.5%;
    z-index: 401;
    position: fixed;
}

@media (min-width: 768px) {
    .map-button {
        width: 5em;
        height: 5em;
    }

    .location-button {
        bottom: 14%;
    }
}

@media (min-width:992px) {
    .map-button {
        width: 6em;
        height: 6em;
    }

    .location-button {
        bottom: 15%;
    }
}

@media (min-width: 1200px) {
    .map-button {
        width: 8em;
        height: 8em;
    }

    .location-button {
        bottom: 17%;
    }
}