.mode-title {
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 3%;
}

.mode-button-row {
    /*height: 60vh;*/
}

.mode-title-row {
    height: 35vh;
}

.mode-button {
    /*margin: 3%;*/
    font-size: 2.5em;
    /*text-align: center;*/
    /*background-color: black;*/
    /*color: white;*/
}