input[type="text"] {
    font-size: 2em;
}

.login-banner {
    /*max-height: 30vw;*/
    /*width: 70vw;*/
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('assets/images/Floodfront_map_flooded_markers.png');*/
}

.login-image {
    /*height: 30vw;*/
    height: 30vw;
    display: block;
    margin:auto;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: 78% 66%;
    background-image: url('assets/images/Floodfront_map_flooded_markers.png');*/
}

.login-title {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 3em;
}

.login-component-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*background-image: url('/assets/images/albert st brisbane.jpg');*/
    /*background-size: cover;*/
}

.logo {
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    /*height: 250px;*/
}

.login-input-row {
    height: 33vh;
}

@media (min-width: 300px) {
    .login-image {
        height: 35vw;
    }
}

@media (min-width: 700px) {
    .login-image {
        height: 30vw;
    }
}