input[type="text"] {
    font-size: 2em;
}

.login-banner {
    height: 35vh;
    padding-right: 17vw;
    padding-left: 17vw;
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('assets/images/Floodfront_map_flooded_markers.png');*/
}

.login-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 78% 66%;
    background-image: url('assets/images/Floodfront_map_flooded_markers.png');
}

.login-title {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 3em;
}

.login-component-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*background-image: url('/assets/images/albert st brisbane.jpg');*/
    /*background-size: cover;*/
}

.logo {
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    /*height: 250px;*/
}

.login-input-row {
    height: 33vh;
}